<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ansi 0 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{base00-rgb-dec-b}}</real>
		<key>Green Component</key>
		<real>{{base00-rgb-dec-g}}</real>
		<key>Red Component</key>
		<real>{{base00-rgb-dec-r}}</real>
	</dict>
	<key>Ansi 1 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{base08-rgb-dec-b}}</real>
		<key>Green Component</key>
		<real>{{base08-rgb-dec-g}}</real>
		<key>Red Component</key>
		<real>{{base08-rgb-dec-r}}</real>
	</dict>
	<key>Ansi 10 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{base0B-rgb-dec-b}}</real>
		<key>Green Component</key>
		<real>{{base0B-rgb-dec-g}}</real>
		<key>Red Component</key>
		<real>{{base0B-rgb-dec-r}}</real>
	</dict>
	<key>Ansi 11 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{base0A-rgb-dec-b}}</real>
		<key>Green Component</key>
		<real>{{base0A-rgb-dec-g}}</real>
		<key>Red Component</key>
		<real>{{base0A-rgb-dec-r}}</real>
	</dict>
	<key>Ansi 12 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{base0D-rgb-dec-b}}</real>
		<key>Green Component</key>
		<real>{{base0D-rgb-dec-g}}</real>
		<key>Red Component</key>
		<real>{{base0D-rgb-dec-r}}</real>
	</dict>
	<key>Ansi 13 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{base0E-rgb-dec-b}}</real>
		<key>Green Component</key>
		<real>{{base0E-rgb-dec-g}}</real>
		<key>Red Component</key>
		<real>{{base0E-rgb-dec-r}}</real>
	</dict>
	<key>Ansi 14 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{base0C-rgb-dec-b}}</real>
		<key>Green Component</key>
		<real>{{base0C-rgb-dec-g}}</real>
		<key>Red Component</key>
		<real>{{base0C-rgb-dec-r}}</real>
	</dict>
	<key>Ansi 15 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{base07-rgb-dec-b}}</real>
		<key>Green Component</key>
		<real>{{base07-rgb-dec-g}}</real>
		<key>Red Component</key>
		<real>{{base07-rgb-dec-r}}</real>
	</dict>
	<key>Ansi 2 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{base0B-rgb-dec-b}}</real>
		<key>Green Component</key>
		<real>{{base0B-rgb-dec-g}}</real>
		<key>Red Component</key>
		<real>{{base0B-rgb-dec-r}}</real>
	</dict>
	<key>Ansi 3 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{base0A-rgb-dec-b}}</real>
		<key>Green Component</key>
		<real>{{base0A-rgb-dec-g}}</real>
		<key>Red Component</key>
		<real>{{base0A-rgb-dec-r}}</real>
	</dict>
	<key>Ansi 4 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{base0D-rgb-dec-b}}</real>
		<key>Green Component</key>
		<real>{{base0D-rgb-dec-g}}</real>
		<key>Red Component</key>
		<real>{{base0D-rgb-dec-r}}</real>
	</dict>
	<key>Ansi 5 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{base0E-rgb-dec-b}}</real>
		<key>Green Component</key>
		<real>{{base0E-rgb-dec-g}}</real>
		<key>Red Component</key>
		<real>{{base0E-rgb-dec-r}}</real>
	</dict>
	<key>Ansi 6 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{base0C-rgb-dec-b}}</real>
		<key>Green Component</key>
		<real>{{base0C-rgb-dec-g}}</real>
		<key>Red Component</key>
		<real>{{base0C-rgb-dec-r}}</real>
	</dict>
	<key>Ansi 7 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{base05-rgb-dec-b}}</real>
		<key>Green Component</key>
		<real>{{base05-rgb-dec-g}}</real>
		<key>Red Component</key>
		<real>{{base05-rgb-dec-r}}</real>
	</dict>
	<key>Ansi 8 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{base03-rgb-dec-b}}</real>
		<key>Green Component</key>
		<real>{{base03-rgb-dec-g}}</real>
		<key>Red Component</key>
		<real>{{base03-rgb-dec-r}}</real>
	</dict>
	<key>Ansi 9 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{base08-rgb-dec-b}}</real>
		<key>Green Component</key>
		<real>{{base08-rgb-dec-g}}</real>
		<key>Red Component</key>
		<real>{{base08-rgb-dec-r}}</real>
	</dict>
	<key>Background Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{base00-rgb-dec-b}}</real>
		<key>Green Component</key>
		<real>{{base00-rgb-dec-g}}</real>
		<key>Red Component</key>
		<real>{{base00-rgb-dec-r}}</real>
	</dict>
	<key>Bold Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{base05-rgb-dec-b}}</real>
		<key>Green Component</key>
		<real>{{base05-rgb-dec-g}}</real>
		<key>Red Component</key>
		<real>{{base05-rgb-dec-r}}</real>
	</dict>
	<key>Cursor Color</key>
	<dict>
    <key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{base05-rgb-dec-b}}</real>
		<key>Green Component</key>
		<real>{{base05-rgb-dec-g}}</real>
		<key>Red Component</key>
		<real>{{base05-rgb-dec-r}}</real>
	</dict>
	<key>Cursor Text Color</key>
	<dict>
    <key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{base00-rgb-dec-b}}</real>
		<key>Green Component</key>
		<real>{{base00-rgb-dec-g}}</real>
		<key>Red Component</key>
		<real>{{base00-rgb-dec-r}}</real>
	</dict>
	<key>Foreground Color</key>
	<dict>
    <key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{base05-rgb-dec-b}}</real>
		<key>Green Component</key>
		<real>{{base05-rgb-dec-g}}</real>
		<key>Red Component</key>
		<real>{{base05-rgb-dec-r}}</real>
	</dict>
	<key>Selected Text Color</key>
	<dict>
    <key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{base05-rgb-dec-b}}</real>
		<key>Green Component</key>
		<real>{{base05-rgb-dec-g}}</real>
		<key>Red Component</key>
		<real>{{base05-rgb-dec-r}}</real>
	</dict>
	<key>Selection Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{base02-rgb-dec-b}}</real>
		<key>Green Component</key>
		<real>{{base02-rgb-dec-g}}</real>
		<key>Red Component</key>
		<real>{{base02-rgb-dec-r}}</real>
	</dict>
</dict>
</plist>
